@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    color: lightgoldenrodyellow;
    background-color: lightcoral;
}

h2{
    color: lightgreen;
}

p{
    text-align: justify;
}